:root {
  --bg--main: #f1f3f7;
  --bg--second: white;
  --btn--main: rgb(22, 24, 128);
  --txt--hover: rgb(22, 24, 128);
  --txt--second: #111111BF;
  --btn--txt: white;
  --btn--hover: rgb(18, 18, 18);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
  color: black;
}

li {
  text-decoration: none;
}

.App {
  background-color: var(--bg--main);
  min-height: 100vh;
  width: 100%;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: auto !important;
}